.superInput {
    width: 350px;
    background: rgba(46, 229, 157, .4);
    box-shadow: 0 5px 10px rgba(28, 121, 84, 0.4);
    border: 3px solid rgba(25, 124, 85, 0.4);
    color: #524f4e;


}

.errorInput {
    color: #f3d7df;
    border: 3px solid #72132d;
    background: #c3224f;
    box-shadow: 0 6px 10px #b51c46;
}

.error {
    padding: 8px;
    color: #8f1333;
    text-transform: uppercase;


}
.inputFrame {
    height: 55px;
    border: none;


}

.inputFrame input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    width: 330px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding: 2px 5px;
}

.inputFrame span{
    display: block;
    text-align: center;
    margin-top: -5px;
}