.header{
    height: 60px;
    background: #2a7072;
    display: flex;
    align-items:center ;
    justify-content: flex-start;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}
.wrap{
    margin-top: 60px;
}