.superInput {
    border: #303f9f solid 2px;
    font-size: 16px;
    border-radius: 13px;
    padding: 5px;
    resize: none;
    outline: none;
}

.superInput:focus {
    box-shadow: 1px 1px 10px #C0C0C0;
}

.errorInput {
    border: #8e2121 solid 2px;
    background: aliceblue;
}

.error {
    color: #8e2121;
    font-size: 16px;
}